<%= render_page_header('login') %>

<%= form_tag session_url do %>
  <div class="form-group form-group-lg">
    <div class="input-group">
      <%= text_field_tag :username, '', class: 'form-control', placeholder: 'Username' %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-lg btn-primary">Log In</button>
      </span>
    </div>
  </div>
<% end %>
