<div class="row">
  <div class="col-md-8">
    <h4><%= @homework.title %></h4>
    <span><%= @homework.question %></span>
  </div>
  <div class="col-md-4">
    <h4>Due Date: <%= @homework.due_date %></h4>
  </div>
</div>