<div class="row homework-details">
  <div class="col-md-8">
    <h4><%= @homework.title %></h4>
    <span><%= @homework.question %></span>
  </div>
  <div class="col-md-4">
    <h4>Due Date</h4>
    <span><%= print_due_date(@homework.due_date) %></span>
  </div>
</div>