<%= form_for @submission, url: students_assignment_submissions_path do |f| %>
  <%= render_error_messages(f.object) %>
  <div class="form-group">
    <%= f.text_area :answer, rows: 10, class: 'form-control', autofocus: true, required: true, placeholder: 'My Answer' %>
  </div>
  <div class="form-group">
    <%= f.submit 'SUBMIT ANSWER', class: 'btn btn-success btn-block' %>
  </div>
<% end %>