<%= render_page_header('new submission') %>
<%= render partial: 'students/submissions/homework' %>
<hr>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'students/submissions/new_submission_form' %>
  </div>
</div>